html
{
	height:100%;
	width:100%;
}
body
{
	height:100%;
	width:100%;
	background-image:url(../images/miami.jpg);
	background-position:top center;
	background-size:100% 100%;
	background-repeat:no-repeat;
	overflow: hidden;
}

.scroll-wrapper
{
	height:100%;
	width:100%;
	overflow-y:scroll;
}

.home-page-wrapper
{
	height: 100%;
	width: 100%;
	padding: 11% 0 0;
}

.main-search-wrapper 
{
	background-color: rgba(255,255,255,.9);
	width: 50%;
	height: 36%;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0px 0px 7px 1px black;
	padding:0% 0% 0% 0%;
}

.main-search-brand
{
	width: 100%;
	height: 35%;
	margin:0% 0% 0% 0%;
}

.main-brand
{
	height: 100%;
	margin: 0%;
	padding: 0%;
}

.header-icon
{
	height: 100%;
	margin: 0%;
	padding: 0%;
}

i 
{
	margin-top: 20%;
}

.main-search-slogan
{
	width: 100%;
	height: 20%;
	margin:0% 0% 0% 0%;
}

.slogan
{
	height: 100%;
	font-size: 2.35em;
	margin: 0% 0% 0% 2%;
	font-weight: bold;
}

.main-search-bar
{
	width: 100%;
	height: 45%;
	margin:0% 0% 0% 0%;
}

#select-combined 
{
	height: 50px;
	width: 96%;
	margin: 2% 0% 0% 2%;
	font-size: 1.6em;
}

.autocomplete-wrapper
{
	width: 100%;
	height: 64%;
	margin-top: 1% auto;
	padding: 0%;
}
.stredming-wrapper
{
	height: 100%;
	width: 100%; 
	display: block;
	background-image:url(../images/new-york.jpg);
	background-position:top center;
	background-size:100% 100%;
	background-repeat:no-repeat;
	overflow: hidden;
}

.player-wrapper
{
	height: 30%;
	width: 100%;
	margin: 0%;
	padding: 0%;
}

.carousel-wrapper
{
	width: 100%;
	margin: 0%;
	padding: 0%;
	height: 70%;
}

#myCarousel
{
	height: 100%;
	background-color: rgba(255,255,255,.3);
}

.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: block;
	height: 100%;
}

#carousel-arrow-left
{
	margin: 115% 20% 0% 0%;
	color: black;
}

#carousel-arrow-right
{
	margin: 115% 20% 0% 0%;
	color: black;
}

.carousel-caption
{
	width: 60%;
	height: 50%;
	background: 
	rgba(204,204,204,1);
	margin: 0% 0% 39% 1%;
	border-radius: 16px;
}

#ui-id-1
{
	height: 47%;
	width: 100%!important;
	white-space: nowrap;
	overflow-x: scroll;
	background-color: rgba(255, 255, 255, 0);
}
.ui-widget-content
{
	background: none!important;
	border: none!important;
}
.ui-menu-item
{
	background-color:rgba(255, 255, 255, .8);
	display: inline-block;
	width:15%!important;
	height:100%;
	padding: 3% 0 0!important;
	margin: 0 3%!important;
	text-align: center;
	border-radius: 5px;
	
}