html
{
	height:100%;
	width:100%;
}
body
{
	height:100%;
	width:100%;
	background-image:url(../images/miami.jpg);
	background-position:top center;
	background-size:100% 100%;
	background-repeat:no-repeat;
	overflow: hidden;
}

.scroll-wrapper
{
	height:100%;
	width:100%;
	overflow-y:scroll;
}

.home-page-wrapper
{
	height: 100%;
	width: 100%;
	padding: 11% 0 0;
}

.main-search-wrapper 
{
	background-color: rgba(255,255,255,.9);
	width: 50%;
	height: 36%;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0px 0px 7px 1px black;
	padding:0% 0% 0% 0%;
}

.main-search-brand
{
	width: 100%;
	height: 35%;
	margin:0% 0% 0% 0%;
}

.main-brand
{
	height: 100%;
	margin: 0%;
	padding: 0%;
}

.header-icon
{
	height: 100%;
	margin: 0%;
	padding: 0%;
}

i 
{
	margin-top: 20%;
}

.main-search-slogan
{
	width: 100%;
	height: 20%;
	margin:0% 0% 0% 0%;
}

.slogan
{
	height: 100%;
	font-size: 2.35em;
	margin: 0% 0% 0% 2%;
	font-weight: bold;
}

.main-search-bar
{
	width: 100%;
	height: 45%;
	margin:0% 0% 0% 0%;
}

#select-combined 
{
	height: 50px;
	width: 96%;
	margin: 2% 0% 0% 2%;
	font-size: 1.6em;
}

.autocomplete-wrapper
{
	width: 100%;
	height: 64%;
	margin-top: 1% auto;
	padding: 0%;
}
.stredming-wrapper
{
	height: 100%;
	width: 100%; 
	display: block;
	background-image:url(../images/new-york.jpg);
	background-position:top center;
	background-size:100% 100%;
	background-repeat:no-repeat;
	overflow: hidden;
	background-color: rgba(255,255,255,.1);
}

.player-wrapper
{
	height: 30%;
	width: 100%;
	margin: 0%;
	padding: 0%;
}

.carousel-wrapper
{
	width: 100%;
	margin: 0%;
	padding: 0%;
	height: 70%;
}

#myCarousel
{
	height: 100%;
}

.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: block;
	height: 100%;
}

#carousel-control-left
{
	opacity: .9;
}
.carousel-img
{
	width: 100%;
	margin:0;
	height: 100%;
	opacity: 0;
}

#carousel-control-right
{
	opacity: .9;
}

#carousel-arrow-left
{
	margin: 115% 20% 0% 0%;
	color: black;
}

#carousel-arrow-right
{
	margin: 115% 20% 0% 0%;
	color: black;
}

.carousel-caption
{ 
	width: 60%;
	height: 30%;
	background: 
	rgba(204,204,204,1);
	margin: 0% 0% 65% 0%;
	border-radius: 16px;
	padding: 0% 0% 0% 0%;
}

.main-form
{
	height: 100%;
}

#contact-form
{
	background-color: rgba(255,255,255,1);
	border-radius: 3px;
}

.contact
{
	margin: 0;
	height: 15%
}

#contact-us
{
	margin: 0% 79% 0% 0%;
	padding:2% 0% 0% 0%;
	font-size: 2.5em;
	color: black;
}

#content-wrapper
{
	height: 100%;
	margin: 0;
	padding: 0% 0% 0% 2%;
}

#text-area-wrapper
{
	height: 100%;
	margin: 0;
	padding: 0;
}
.info
{
	margin: 0%;
	height: 75%;
}

#contact-reasons
{
	margin: 11% 0% 0% 0%;
}

label
{
	font-size: 1.3em;
	color: black;
	font-weight: normal;
	margin: 0% 79% 0% 0%;
	padding: 0% 0% 1% 0%;
}

#emaillabel
{
	margin: 0% 72% 0% 0%;
}

.message-intro
{
	margin: 0%;
}

#message-intro-p
{
	font-size: 1.3em;
	color: black;
	margin: 0% 74% 0% 0%;
	padding: 0% 0% 1% 0%;
}

.text-area
{
	height: 83%;
	width: 86%;
}

.submit
{
	height: 10%;
	margin: 0;
}
#promotion-main
{
	width: 50%;
	margin: 0% 0% 65% 5%;
	border-radius: 15px;
	background: #ff5959; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ff5959 0%, #ff0000 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ff5959), color-stop(100%,#ff0000)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #ff5959 0%,#ff0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #ff5959 0%,#ff0000 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #ff5959 0%,#ff0000 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #ff5959 0%,#ff0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5959', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.featured-festival
{
	padding: 0;
	margin: 0;
	height: 13%;
}

#featured-festival-header
{
	font-size: 3em;
	margin: 0% 13% 0% 0%;
	padding: 1% 0% 0% 0%;
}

#festival-header 
{
	color: #458CF6
}

.main-promotion
{
	margin: 0%;
	padding: 0%;
	height: 87%;
}

.main-promotion-container
{
	height: 100%
}

.tickets-aftermovie-wrapper
{
	height: 50%;
	padding: 2% 2%;
	margin: 0;
}

#tickets-wrapper
{
	height: 44%;
}

#promotion-picture
{
	width: 100%;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	height: 100%;
}

#aftermovie-wrapper
{
	height: 56%;
}

#ui-id-1
{
	height: 47%;
	width: 100%!important;
	white-space: nowrap;
	overflow-x: scroll;
	background-color: rgba(255, 255, 255, 0);
}
.ui-widget-content
{
	background: none!important;
	border: none!important;
}
.ui-menu-item
{
	background-color:rgba(255, 255, 255, .8);
	display: inline-block;
	width:15%!important;
	height:100%;
	padding: 3% 0 0!important;
	margin: 0 3%!important;
	text-align: center;
	border-radius: 5px;
	
}